header {
  // @include for-size(desktop) {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #e2e3e5;

  font-family: 'MontserratMedium';
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.02em;
  // }
}

.nav-menu {
  // @media screen and (max-width: 767px) {
  //   margin-bottom: 16px;
  // }
}

.container-menu {
  // display: flex;
  // justify-content: flex-end;
  // align-items: center;
}

.user-greeting {
  color: $main-text-color;
}

.navLink {
  color: $main-text-color;
  // margin-right: 16px;
}

.navLink:not(:last-child) {
  // margin-right: 16px;
}

.navLink--active {
  color: $decor-color;
}
