header {
  border-bottom: 1px solid #e2e3e5;
}

.header-content {
  font-family: 'MontserratMedium';
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;

  height: 70px;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  @include for-size(mobile) {
    border-bottom: 1px solid #e2e3e5;
  }
}

.nav-and-burger {
  @include for-size(mobile) {
    display: flex;
    align-items: center;
  }
}

.container-user {
  display: flex;
  align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 30px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: $text-collor;
  box-shadow: 0px 1px 1px rgba(18, 29, 46, 0.1);

  font-family: 'MontserratSemiBold';
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;

  @include for-size(mobile) {
    margin-right: 20px;
  }
  @include for-size(tablet) {
    margin-right: 10px;
    margin-left: 30px;
  }
  @include for-size(desktop) {
    margin-right: 30px;
    margin-left: 30px;
  }
}

.userName {
  display: flex;
  align-items: center;
  margin-right: 20px;
  @include for-size(mobile) {
    display: none;
  }
}

.nav-menu {
  font-family: 'MontserratMedium';
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  @include for-size(mobile) {
  }
  @include for-size(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include for-size(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
  }
  &-link {
    display: flex;
  }
}

.sing-out {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 20px;
  border-left: 1px solid #e2e3e5;
  @include for-size(mobile) {
    display: none;
    &-burger {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 70px;
    }
  }
}

.menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 20px;
  border-left: 1px solid #e2e3e5;
  @include for-size(tablet) {
    display: none;
  }
  @include for-size(desktop) {
    display: none;
  }
}

.navLink {
  color: $main-text-color;
  &-menu {
    height: 70px;
    border-bottom: 1px solid #e2e3e5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--active {
    border-bottom: 1px solid $decor-color;
  }
  &-burger {
    color: $main-text-color;
    font-family: 'MontserratMedium';
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    @include for-size(tablet) {
      display: none;
    }
    @include for-size(desktop) {
      display: none;
    }
  }

  @include for-size(mobile) {
    display: none;
  }
  @include for-size(tablet) {
    &:not(:last-child) {
      margin-right: 65px;
    }
  }
  @include for-size(desktop) {
    &:not(:last-child) {
      margin-right: 85px;
    }
  }
}

.nav-burger {
  position: fixed;
  top: 70px;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: $main-bg-color;
  z-index: 50;

  transition: transform 0.5s ease;
  transform: translate(100%);
  &.active {
    transition: transform 0.5s ease;
    transform: translate(0);
  }
}
