.results_test,
.results_results,
.results_message,
.results_text {
  font-family: 'MontserratMedium';
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.02em;

  @include for-size(mobile) {
    font-size: 10px;
    line-height: 12px;
  }
}

.results {
  color: $main-text-color;

  &_title,
  &_appraisal {
    font-family: 'MontserratBold';
    letter-spacing: 0.02em;
    text-align: center;
  }

  &_container {
    padding-top: 30px;
    padding-bottom: 40px;

    @include for-size(tablet) {
      padding-top: 41px;
      padding-bottom: 107px;
    }

    @include for-size(desktop) {
      padding-top: 40px;
      padding-bottom: 60px;
    }
  }

  &_title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px;

    @include for-size(mobile) {
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 0px;
    }
  }

  &_test {
    margin-bottom: 40px;
    text-transform: uppercase;

    @include for-size(mobile) {
      margin-bottom: 12px;
    }

    &::after {
      @include pseudo(322px, 0px);
      display: block;
      margin: 30px auto 0px auto;

      opacity: 0.15;
      border-bottom: 0.5px solid #00122f;

      @include for-size(mobile) {
        @include pseudo(130px, 0px);
        margin-top: 10px;
      }
    }
  }

  &_flex {
    @include flex();
    margin-bottom: 29px;

    @include for-size(mobile) {
      margin-bottom: 17px;
    }

    .results_results {
      display: inline-block;
      width: 175px;
      height: 20px;
      text-align: left;
      font-size: 16px;
      line-height: 20px;

      @include for-size(mobile) {
        width: 130px;
        font-size: 10px;
        line-height: 12px;
      }

      &:first-child {
        position: relative;
        margin-right: 40px;
        text-align: right;

        @include for-size(mobile) {
          margin-right: 20px;
        }

        &::after {
          @include pseudo(0px, 20px);
          position: absolute;
          top: -4px;
          right: -20px;
          opacity: 0.15;
          border-right: 1px solid #00122f;

          @include for-size(mobile) {
            right: -10px;
          }
        }
      }
    }
  }

  &_img {
    width: 176px;
    height: 176px;
    margin: 0px auto 10px;
    background-color: #ff1493;

    @include for-size(mobile) {
      width: 120px;
      height: 120px;
      margin-bottom: 21px;
    }
  }

  &_appraisal {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 30px;

    @include for-size(mobile) {
      font-size: 16px;
      line-height: 30px;
    }
  }

  &_message {
    margin-bottom: 47px;

    font-size: 20px;
    line-height: 24px;

    @include for-size(mobile) {
      margin-bottom: 22px;

      font-size: 10px;
      line-height: 12px;
    }
  }

  &_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 48px;
    margin: 0px auto;
    background-color: $decor-color;

    .results_text {
      font-size: 14px;
      line-height: 17px;

      color: $text-collor;
    }
  }
}
