.section {
  background-color: var(--main-bg-color);
  padding-top: 40px;
  padding-bottom: 56px;
  @include for-size(tablet) {
    padding-bottom: 76px;
  }
  @include for-size(desktop) {
    padding-bottom: 65px;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamTitle {
  font-family: 'MontserratBold';
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.002em;
  text-align: center;

  position: relative;

  margin-bottom: 10px;

  //   border-bottom: 1px solid #00122f;
  //   border-bottom-width: 130 px;
  //   align-items: center;
  //   margin-bottom: 20px;
}

.teamTitle::after {
  content: '';
  position: absolute;
  display: block;
  border-color: #00122f;
  border-style: solid;
  border-width: 1px;
  width: 130px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.teamList {
  @include for-size(mobile) {
    display: block;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
