@font-face {
  font-family: 'MontserratMedium';
  src: url('../fonts/montserrat_bold.eot');
  src: local('☺'), url('../fonts/montserrat_bold.woff') format('woff'),
    url('../fonts/montserrat_bold.ttf') format('truetype'),
    url('../fonts/montserrat_bold.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratBold';
  src: url('../fonts/montserrat_bold.eot');
  src: local('☺'), url('../fonts/montserrat_bold.woff') format('woff'),
    url('../fonts/montserrat_bold.ttf') format('truetype'),
    url('../fonts/montserrat_bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratRegular';
  src: url('../fonts/Montserrat.eot');
  src: local('☺'), url('../fonts/Montserrat.woff') format('woff'),
    url('../fonts/Montserrat.ttf') format('truetype'),
    url('../fonts/Montserrat.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
